.container {
  height: 100px;
  border: 10px solid black;
}
.container .item {
  width: 200px;
  height: 100px;
  background-color: royalblue;
}
@media (max-width: 500px) {
  .container {
    height: 200px;
    border: 10px solid red;
    background-color: orange;
  }
  .container .item {
    
  }
}